.classpath
.project
.settings/org.eclipse.jdt.core.prefs
bin/*
diagrams/gastycoon.vpp*
src/oose/GUI/GUI.class
src/oose/GUI/Logic.class
src/oose/GUI/Main.class
src/oose/GUI/MainFrame.class
diagrams/Conceptual - Class diagram.vpp~7
diagrams/Conceptual - Class diagram.vpp~8
diagrams/Conceptual - Class diagram.vpp~10
diagrams/Conceptual - Class diagram.vpp~9
